body {
    background-color: #4B4E6D;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


button {
    background-color: #84DCC6;
    border: solid 5px black;
    border-radius: 50px;
    color: white;
    display: inline;
    font-size: 18px;
    line-height: 10px;
    width: 200px;
    height: 50px; 
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    box-shadow: 0 0 10px 2px;
}



h5 {

    border: solid 5px black; 
    background-color: #84DCC6; 
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px;
    width: 300px; 
    height: 400px; 
    font-size: 25px;
    color:black;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5 p {
    line-height: 5px;
    font-size: 15px;
    color: black; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px; 
    text-align: left;


}

#initials-input {
    border: solid 5px black; 
    background-color: white; 
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px;
    width: 250px; 
    height: 50px; 
    font-size: 20px;
    color:black;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

::placeholder {
    text-align: center;
    color: black;
    font-style: italic;
}

input {
    border-radius: 20px; 
    
}

#final-score {
    font-size: 100px;
    color: white;
}