body {
    background-color: #4B4E6D;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    margin-top: 2px;
}

#subtitle {
    font-size: 20px;
    color: white;
}

p {
    text-align: center;
    color: black;   
    font-size: 10px; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}



.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#quiz-container {
    height: 450px; 
    width: 500px;
    padding: 10px; 
    box-shadow: 0 0 10px 2px;
    text-align: center;
    color: black; 
    background-color: white; 
    border-radius: 50px;
    
}

#questions {
    font-size: 18px;
}

#timer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: #95A3B3; 
    width: 500px;
    height: 90px;
    padding: 10px; 
    box-shadow: 0 0 10px 2px;
    text-align: center;
    border-radius: 40px;
    
}



button {
    background-color: #84DCC6;
    border: solid 5px black;
    border-radius: 50px;
    color: white;
    display: inline;
    font-size: 18px;
    line-height: 20px;
    width: 300px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    box-shadow: 0 0 10px 2px;
}
button:hover {
    opacity: 35%;
}


h2 {
    border: solid 5px black; 
    background-color: #84DCC6; 
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px;
    width: 200px;
    height: 70px;
    font-size: 25px;
    color: black;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h2 p {
    text-align: center;
    color: black;
    font-size: 30px; 
    font-family: 'Franklin   Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px; 
    
}






@media screen and (max-width: 600px) {
    #quiz-container {
        width: 250px; 
        height: 450px; 
    
    }

    #timer-container {
        width: 250px; 
        height: 70px; 
    }

    p {
        font-size: 10px;
    }

    button {
        width: 215px; 
        height: 50px; 
        font-size: 15px;
        line-height: 2px;
    }

    h1 {
        font-size: 30px; 
       
    }
    #questions {
        font-size: 12px;
    }
    #subtitle {
        font-size: 20px;
        color: white;
} 
    h2 p {
        font-size: 15px; 
    }
    h2 {
        font-size: 15px;
        height: 50px; 
    }
}