body {
    background-color: #4B4E6D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}


h1 {
    text-align: center;
    color: white;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

p {
    text-align: center;
    color: white;  
    font-size: 40px; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#quiz {
    height: 500px; 
    width: 1200px;
    padding: 10px; 
    box-shadow: 0 0 10px 2px;
    text-align: center;
    color: black; 
    font-size: 20px;
    background-color: white; 
    border-radius: 50px;
    
}

#timer-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #95A3B3; 
    width: 1200px;
    height: 200px;
    border-radius: 5px;
    padding: 10px; 
    box-shadow: 0 0 10px 2px;
    text-align: center;
    border-radius: 50px;
    
}

/* #nextbtn-container {
    background-color: #D8DBE2; 
    width: 1200px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center; 
} */


button {
    background-color: #84DCC6;
    border: solid 5px black;
    border-radius: 50px;
    color: white;
    display: inline;
    font-size: 20px;
    line-height: 20px;
    width: 300px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    box-shadow: 0 0 10px 2px;
}
button:hover {
    opacity: 35%;
}


h2 {
    border: solid 5px black; 
    background-color: #84DCC6; 
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px;
    width: 300px;
    font-size: 30px;
    color: black;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h2 p {
    text-align: center;
    color: black;
    font-size: 70px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px; 
    
}



h3 {
    border: solid 5px black; 
    background-color: #84DCC6; 
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px;
    width: 300px; 
    font-size: 30px;
    color:black;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 p {
    text-align: left;
    font-size: 20px;
    color: black; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px; 
}

h4 {

    border: solid 5px black; 
    background-color: #84DCC6; 
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px;
    width: 300px; 
    height: 500px; 
    font-size: 30px;
    color:black;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4 p {
    line-height: 5px;
    font-size: 20px;
    color: black; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px; 
    text-align: left;


}

#initials-input {
    border: solid 5px black; 
    background-color: #84DCC6; 
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px;
    width: 250px; 
    height: 50px; 
    font-size: 20px;
    color:black;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

::placeholder {
    text-align: center;
    color: black;
    font-style: italic;
}

input {
    border-radius: 20px; 
}
@media screen and (max-width: 1232px) {
    #quiz {
      
        width: 900px;
    }
        
    #timer-container {
        width: 900px; 
        
    }


}

@media screen and (max-width: 928px) {
    #quiz {
     width: 600px;
    height: 600px;
    }

    #timer-container {
         width: 600px;
        }
     p {
        font-size: 25px; 
        padding-bottom: 20px; 
    }
}

@media screen and (max-width: 664px) {
    #quiz {
        width: 500px; 
    }

    #timer-container {
        width: 500px; 
    }

    p {
        font-size: 20px;
    }
}